devops/envs/test/sync.json
{
  "Comment": "Workflow for database initiation and ETL for BioSample, BioProject and SRA using NCBI API",
  "StartAt": "ConcurrencyProtectionGetStatus",
  "States": {
    "ConcurrencyProtectionGetStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sfn:listExecutions",
      "Parameters": {
        "StateMachineArn.$": "$$.StateMachine.Id",
        "StatusFilter": "RUNNING"
      },
      "Next": "ConcurrencyProtectionCheck",
      "ResultSelector": {
        "Count.$": "States.ArrayLength($.Executions)",
        "Items.$": "$.Executions"
      },
      "ResultPath": "$.ConcurrencyProtectionRuns"
    },
    "ConcurrencyProtectionCheck": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.ConcurrencyProtectionRuns.Count",
        "NumericGreaterThan": 1,
        "Next": "ConcurrencyProtectionTriggered"
      }],
      "Default": "DefineDefaults"
    },
    "ConcurrencyProtectionTriggered": {
      "Type": "Fail",
      "Error": "ConcurrencyProtectionTriggered",
      "Cause": "Another instance is running in parallel, skipping this one"
    },
    "DefineDefaults": {
      "Type": "Pass",
      "Next": "ApplyDefaults",
      "ResultPath": "$.InputDefaults",
      "Parameters": {
        "RelativeDate": 30,
        "Debug": false
      }
    },
    "ApplyDefaults": {
      "Type": "Pass",
      "Next": "SyncSequencingData",
      "ResultPath": "$",
      "Parameters": {
        "ParametersWithDefaults.$": "States.JsonMerge($.InputDefaults, $$.Execution.Input, false)"
      }
    },
    "SyncSequencingData": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName": "sync-sequencing",
        "JobDefinition": "${JobDefinitionSync}",
        "JobQueue": "${JobQueueArn}",
        "Parameters": {
          "RELATIVE_DATE.$": "States.JsonToString($.ParametersWithDefaults.RelativeDate)",
          "DB_HOST": "${DbHost}",
          "DB_NAME": "${DbName}",
          "DB_USER": "${DbUser}",
          "DB_PASSWORD": "${DbPassword}",
          "DB_PORT": "${DbPort}",
          "NCBI_SECRET": "${NcbiSecret}",
          "SECTION": "sequencing",
          "DEBUG.$": "States.JsonToString($.ParametersWithDefaults.Debug)"
        },
        "ContainerOverrides": {
          "Command": [
                "python", "/app/src/main.py",
                "--section", "Ref::SECTION",
                "--db_host", "Ref::DB_HOST",
                "--db_name", "Ref::DB_NAME",
                "--db_user", "Ref::DB_USER",
                "--db_password", "Ref::DB_PASSWORD",
                "--db_port", "Ref::DB_PORT",
                "--relative_date", "Ref::RELATIVE_DATE",
                "--ncbi_secret_arn", "Ref::NCBI_SECRET",
                "--set_debug", "Ref::DEBUG"
            ]
          }  
      },
      "Next": "SyncSamples"
    },
    "SyncSamples": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName": "sync-samples",
        "JobDefinition": "${JobDefinitionSync}",
        "JobQueue": "${JobQueueArn}",
        "Parameters": {
          "DB_HOST": "${DbHost}",
          "DB_NAME": "${DbName}",
          "DB_USER": "${DbUser}",
          "DB_PASSWORD": "${DbPassword}",
          "DB_PORT": "${DbPort}",
          "NCBI_SECRET": "${NcbiSecret}",
          "SECTION": "samples",
          "DEBUG.$": "States.JsonToString($.ParametersWithDefaults.Debug)"
        }
      },
      "Next": "SyncProjects"
    },
    "SyncProjects": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "arn:aws:states:::batch:submitJob.sync",
      "Parameters": {
        "JobName": "sync-projects",
        "JobDefinition": "${JobDefinitionSync}",
        "JobQueue": "${JobQueueArn}",
        "Parameters": {
          "DB_HOST": "${DbHost}",
          "DB_NAME": "${DbName}",
          "DB_USER": "${DbUser}",
          "DB_PASSWORD": "${DbPassword}",
          "DB_PORT": "${DbPort}",
          "NCBI_SECRET": "${NcbiSecret}",
          "SECTION": "projects",
          "DEBUG.$": "States.JsonToString($.ParametersWithDefaults.Debug)"
        }
      },
      "End": true
    }
  }
}